.units {
    display: flex;
    flex-direction: column;
    padding: var(--s-4xl);
    gap: var(--s-l);
    background-color: var(--white);
}

.units h1{
    width: 100%;
    text-align: center;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: var(--s-l);
}